<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedConfig">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuration Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="selectedConfig">
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle [(ngModel)]="selectedConfig.active" (ngModelChange)="setActive($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="selectedConfig.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fullscreen</ion-label>
      <ion-toggle [(ngModel)]="selectedConfig.fullscreen"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!selectedConfig.fullscreen">
      <ion-label>Width</ion-label>
      <ion-input type="number" [(ngModel)]="selectedConfig.width"></ion-input>
    </ion-item>
    <ion-item *ngIf="!selectedConfig.fullscreen">
      <ion-label>Height</ion-label>
      <ion-input type="number" [(ngModel)]="selectedConfig.height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Background Color</ion-label>
      <ion-input type="number" [(ngModel)]="selectedConfig.background.r"></ion-input>
      <ion-input type="number" [(ngModel)]="selectedConfig.background.g"></ion-input>
      <ion-input type="number" [(ngModel)]="selectedConfig.background.b"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item-divider color="light">TVs</ion-item-divider>
  <ion-grid class="videowall-grid">
    <ion-row>
      <ion-col offset-3 col-2>
        <a (click)="changeZonePlayer(0,0)">{{selectedConfig.zones[0][0]}}</a>
      </ion-col>
      <ion-col col-2>
        <a (click)="changeZonePlayer(0,1)">{{selectedConfig.zones[0][1]}}</a>
      </ion-col>      
      <ion-col col-2>
        <a (click)="changeZonePlayer(0,2)">{{selectedConfig.zones[0][2]}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-3 col-2>
        <a (click)="changeZonePlayer(1,0)">{{selectedConfig.zones[1][0]}}</a>
      </ion-col>
      <ion-col col-2>
        <a (click)="changeZonePlayer(1,1)">{{selectedConfig.zones[1][1]}}</a>
      </ion-col>      
      <ion-col col-2>
        <a (click)="changeZonePlayer(1,2)">{{selectedConfig.zones[1][2]}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-3 col-2>
        <a (click)="changeZonePlayer(2,0)">{{selectedConfig.zones[2][0]}}</a>
      </ion-col>
      <ion-col col-2>
        <a (click)="changeZonePlayer(2,1)">{{selectedConfig.zones[2][1]}}</a>
      </ion-col>      
      <ion-col col-2>
        <a (click)="changeZonePlayer(2,2)">{{selectedConfig.zones[2][2]}}</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider color="light">Players</ion-item-divider>
  <ion-list *ngFor="let player of selectedConfig.players">
    <ion-item-sliding>
      <ion-item>
        <h2>Player {{player.id}}</h2>
        <p>TVs: {{getPlayerZones(player.id)}}</p>
        <p>Background: {{player.background.r}}, {{player.background.g}}, {{player.background.b}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deletePlayer($event,player)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-list>
      <ion-item-sliding *ngFor="let content of player.contents">
        <button ion-item (click)="openContent($event,content)">
          <ion-icon *ngIf="content.type=='image'" name="image" item-left></ion-icon>
          <ion-icon *ngIf="content.type=='video'" name="play" item-left></ion-icon>
          <ion-icon *ngIf="content.type=='web'" name="globe" item-left></ion-icon>
          <ion-icon *ngIf="content.type=='youtube'" name="youtube" item-left></ion-icon>
          <h2>{{content.title}}</h2>
          <p *ngIf="content.loop=='none'">{{content.load}} · No loop</p>
          <p *ngIf="content.loop=='time'">{{content.load}} · {{content.time}} seconds</p>
          <p *ngIf="content.loop=='repetitions'">{{content.load}} · {{content.repetitions}} repetitions</p>
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteContent($event,player,content)">
            <ion-icon name="trash" small></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <button ion-item (click)="addContent($event,player)">
        <ion-icon name="add" item-left></ion-icon>
        <h2>Add content</h2>
      </button>
    </ion-list>
  </ion-list>
  <button ion-item *ngIf="selectedConfig.players.length<9" (click)="addPlayer($event,selectedConfig)">
    <ion-icon name="add" item-left></ion-icon>
    <h2>New player</h2>
  </button>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="selectedConfig.active">
    <button ion-button block color="dark" (click)="sendConfiguration()">Update</button>
  </ion-toolbar>
</ion-footer>